.end-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: auto;
    background-image: url('../../image/preguntados_final.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    align-items:self-end
}
.respuesta-correctas{
  background-color: rgba(18, 183, 189, 0.322);
    font-size: 40px;
    color: rgb(4, 0, 255);
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 400px;
    text-shadow: 0px 0px 40px #508AD3;

}
.fin-del-juego {
    background-color: rgba(18, 183, 189, 0.322); 
    font-size: 60px;
    color: rgba(224, 9, 185, 0.899);
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 100px;
    text-shadow: 0px 0px 20px #508AD3;
}

button {
    padding: 20px 80px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  }
  
  button:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }

  
  