.question-container {
    height: 100vh; 
    background: linear-gradient(to right, #ff5fe7, #850348); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedback-message{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.question{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.score{
    font-size:40px;
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 100px;
}